/*********************************************
 *                  GENERAL
 *********************************************/
/* Use CSS variables */
:root {
  --md-green: #8bc34a;
  --md-red: #f44336;
  --md-orange: #ff9800;
  --md-deep-orange: #ff5722;
}

/* Enable Font-Awesome for icons */
.reveal i.fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

.reveal .red {
  color: var(--md-red);
}

.reveal .green {
  color: var(--md-green);
}

.reveal .orange {
  color: var(--md-orange);
}

.reveal .deep-orange {
  color: var(--md-deep-orange);
}

/* By default, disable bullets in the lists*/
.reveal ul {
  list-style: none;
  margin: 0;
}

.reveal ul.bullets {
  list-style: disc;
  margin: 0 0 0 1em;
}

/* Some functional classes */
.reveal .b { font-weight:bold; }
.reveal .tc { text-align: center; }
.reveal .list { list-style-type:none; }
.reveal .fs-08 { font-size: 0.8em; }
.reveal .f1 { font-size: 3rem; }
.reveal .f2 { font-size: 2.25rem; }
.reveal .f3 { font-size: 1.5rem; }
.reveal .f4 { font-size: 1.25rem; }
.reveal .f5 { font-size: 1rem; }
.reveal .f6 { font-size: .875rem; }
.reveal .pb0 { padding-bottom: 5px; }
.reveal .pb1 { padding-bottom: 10px; }
.reveal .pb2 { padding-bottom: 15px; }
.reveal .pb3 { padding-bottom: 20px; }
.reveal .pb4 { padding-bottom: 25px; }
